.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 0 20px;
  position: fixed; /* Fijo para evitar que empuje el main */
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 999; /* Asegura que el sidebar esté por encima del contenido */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Estilos para el menú principal y submenú */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

/* Estilos del botón del submenú */
.submenu-toggle {
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.submenu-toggle:hover {
  color: #0072d1;
}

/* Flecha del submenú */
.arrow {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

/* Rota la flecha al expandir el submenú */
.rotate {
  transform: rotate(180deg);
}

/* Estilos para los subniveles */
.submenu {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.submenu li {
  margin-bottom: 0.5rem;
}

.submenu a {
  color: #333;
  text-decoration: none;
}

.submenu a:hover {
  color: #0072d1;
}
